node_modules

# VSCode
.vscode

# Hardhat
artifacts
cache
deployments
coverage
coverage.json
typechain-types

# Environment settings
.env

# Log Files
*.log

# Gas Report
gas-report.txt
gas-report.md
